body {
    background-image: linear-gradient(to bottom right, #bd9426, #2b2b2b);
    height: 730px;
}

.container {
    text-align: center;
    margin: 10% 5% 5% 5%;
    border: 3px solid white;
    padding: 5% 5% 5% 5%;
    width: 25%;
}
h1 {
    margin-bottom: 50px;
    color: white;
}