<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main_app/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <h3>Must get {{ request.session.condition1 }} gold in {{ request.session.condition2 }} turns to win!</h3>
        </div>

        <h3>Your Gold: </h3>
        <p class="gold">{{ request.session.gold }}</p>
        
        <div class="forms">
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <input type="hidden" name="which_form" value="farm">
                <h1>Farm</h1>
                <p>(Earns 10-20 gold)</p>
                <input class="btn" type="submit" value="Find Gold!">
            </form>
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <input type="hidden" name="which_form" value="cave">
                <h1>Cave</h1>
                <p>(Earns 5-10 gold)</p>
                <input class="btn" type="submit" value="Find Gold!">
            </form>
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <input type="hidden" name="which_form" value="house">
                <h1>House</h1>
                <p>(Earns 2-5 gold)</p>
                <input class="btn" type="submit" value="Find Gold!">
            </form>
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <input type="hidden" name="which_form" value="casino">
                <h1>Casino</h1>
                <p>(Earns/loses 0-50 gold)</p>
                <input class="btn" type="submit" value="Find Gold!">
            </form>
        </div>
        <h4>Activities:</h4>
        <div class="activities">
            {% for i in request.session.activity %} 
                {% if i.0 == 'L' %}
                <p style="color:red;">{{ i }}</p>          
                {% else %}
                <p style="color:green;">{{ i }}</p>
                {% endif %}
            {% endfor %}
        </div>
        <button><a href="/fullreset">Reset All</a></button>
    </div>
</body>
</html>